<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere nesciunt
    voluptas veniam sapiente voluptates aliquid sint soluta nemo architecto
    molestiae modi, eveniet fugiat nobis maiores, in ipsa, eos eum facilis?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">George Thomas</h3>
        <p class="quote__organization">behealthE Technologies</p>
      </div>
    </div>
  </footer>
</blockquote>
